PORT=3000


# POSTGRES
POSTGRES_USER=rajeev
POSTGRES_PASSWORD=rajeev_taskflow
POSTGRES_DB=taskflow

# REDIS
REDIS_HOST=redis
REDIS_PORT=6379


JWT_SECRET="taskflowsecret"

DATABASE_URL="postgresql://name:password@db_name:5432/taskflow?schema=public"
